name: CI
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Git tags'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: github.com/andyu26/pulse
          ref: ${{ github.event.inputs.tag }}

      - name: Extract tags
        id: vars
        run: |
          VERSION=${{ github.event.inputs.tag }}
          VERSION=${VERSION#v}
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64
          tags: |
            ghcr.io/andyu26/pulse:${{ steps.vars.outputs.VERSION }}
            ghcr.io/andyu26/pulse:latest
          

